<h1>Wszystkie wrzutki</h1>

<table>
  <thead>
    <tr>
      <th>Kod</th>
      <th>Język</th>
      <th>Opis</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gists.each do |gist| %>
      <tr>
        <td><%= raw Pygments.highlight(gist.snippet.length > 50 ? gist.snippet[0,50] + "..." : gist.snippet, lexer: gist.lang) %></td>
        <td><%= gist.lang %></td>
        <td><%= gist.description %></td>
        <td><%= link_to 'Podgląd', gist %></td>
        <td><%= link_to 'Edycja', edit_gist_path(gist) %></td>
        <td><%= link_to 'Usuń', gist, method: :delete, data: { confirm: 'Czy jesteś pewny?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj kod', new_gist_path %>
