<h1>Lista dodanych kodów</h1>

<table>
  <thead>
    <tr>
      <th>Kod</th>
      <th>Język</th>
      <th>Opis</th>
      <th colspan="3">Opcje</th>
    </tr>
  </thead>

  <tbody>
    <% @gists.each do |gist| %>
      <tr>
        <td><%= raw Pygments.highlight(gist.snippet.length > 50 ? gist.snippet[0,50] + "..." : gist.snippet, lexer: gist.lang) %></td>
        <td><%= gist.lang %></td>
        <td><%= gist.description %></td>
        <td><%= link_to 'Wyświetl', gist,  :class => "btn btn-info  btn-lg" %></td>
        <td><%= link_to 'Edytuj', edit_gist_path(gist), :class => "btn btn-warning  btn-lg" %></td>
        <td><%= link_to 'Usuń', gist, method: :delete, data: { confirm: 'Czy na pewno usunąć?' }, :class => "btn btn-danger btn-lg" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj kod', new_gist_path, :class => "btn btn-success btn-lg btn-block" %></button>

